<div class="word-container">
  <div class="word" *ngIf="!(loading$ | async); else loading;">
    <app-word [word]="(word$ | async)" [language]="language"></app-word>
  </div>
  <div class="float-button float-right" *ngIf="(hasWord$ | async)">

    <app-share-buttons [wordUrl$]="wordUrl$"></app-share-buttons>
  </div>
  <div class="float-button float-left">
    <button
      mat-mini-fab color="primary"
      aria-label="Add word"
      (click)="addWord()"
      [matTooltip]="('CREATE_WORD' | translateAsync) ?? ''"
      matTooltipPosition="right"
      matTooltipClass="tooltip-custom">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-template #loading>
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
