.no-words {
  margin-top: 25px;

  .message, .reset, .reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }


}

.length-selector {
  .length-selector-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .length-selector-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
