<div class="words-container">
  <div class="language-selecter">
    <app-language-selector [(value)]="selectedLanguage" (selectionChange)="onSelectionChange($event)">
    </app-language-selector>
  </div>
  <div class="words" *ngIf="!(loading$ | async); else loading;">
    <app-word *ngIf="(hasWord$ | async); else noWord;" [word]="word$ | async" [language]="selectedLanguage"
      (resetWordsCache)="onResetWordsCache()"></app-word>
  </div>
  <div class="float-button float-right" *ngIf="(hasWord$ | async)">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Share word on social media"
      matTooltip="Share word on social media"
      matTooltipPosition="right"
      matTooltipClass="tooltip-custom">
      <mat-icon>ios_share</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="share-button" [panelClass]="'test-panel-class'" [backdropClass]="'test-overlay-class'">
      <div mat-menu-item class="icon-share-menu">
        <app-share-button  [icon]="'facebook'" [url$]="wordUrl$"></app-share-button>
      </div>
      <div mat-menu-item class="icon-share-menu">
        <app-share-button  [icon]="'whatsapp'" [url$]="wordUrl$"></app-share-button>
      </div>
    </mat-menu>
  </div>
  <div class="float-button float-left">
    <button
      mat-mini-fab color="primary"
      aria-label="Add word"
      (click)="addWord()"
      matTooltip="Create your own word"
      matTooltipPosition="right"
      matTooltipClass="tooltip-custom">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-template #loading>
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <ng-template #noWord>
    <div class="no-words" *ngIf="!(loading$ | async)">
      <div class="message">
        No words found, or you solved all the words.
      </div>
      <div class="reset">
        If you wish you can reset the words memory and replay.
      </div>
      <div class="reset-button">
        <button mat-raised-button color="primary"(click)="onResetWordsCache()">Reset</button>
      </div>
    </div>
  </ng-template>
