<div class="dialog-tool">
  <span class="dialog-title">{{ 'ADD_NEW_WORD' | translateAsync }}</span>
</div>
<mat-dialog-content>
<app-language-selector [(value)]="selectedLanguage" (selectionChange)="onSelectionChange($event)"></app-language-selector>
<div class="word-container">
  <div class="word">
    {{word}}
  </div>
</div>
<app-keyboard [language$]="lang.asObservable()" (keyPressed)="onKeyPressed($event)" (delete)="onDelete()"></app-keyboard>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="addWord()" [disabled]="disableAddWord">{{ 'ADD_WORD' | translateAsync }}</button>
  <div class="forbidden-word" *ngIf="forbidden">
    {{ 'FORBIDDEN' | translateAsync }}
  </div>
</mat-dialog-actions>
