<div class="dialog-tool">
  <span class="dialog-title">Add New Word</span>
</div>
<mat-dialog-content>
<app-language-selector [(value)]="selectedLanguage" (selectionChange)="onSelectionChange($event)"></app-language-selector>
<div class="word-container">
  <div class="word">
    {{word}}
  </div>
</div>
<app-keyboard [language$]="lang.asObservable()" (keyPressed)="onKeyPressed($event)" (delete)="onDelete()"></app-keyboard>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="addWord()" [disabled]="disableAddWord">Add Word</button>
  <div class="forbidden-word" *ngIf="forbidden">
    The selected word is forbidden. Please choose a new word.
  </div>
</mat-dialog-actions>
