.word-boxes {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .word-box {
    width: 60px;
    height: 60px;
    //border: 1px solid black;
    display: inline-flex;
    display: -webkit-inline-flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 1px #b7b2b2;
    border-radius: 5px;

    &.active-box {
      box-shadow: 0px 0px 5px 1px #ff8383;
    }
  }
}

@media(max-width: 650px) {
  .word-boxes {
    .word-box {
      width: 30px;
      height: 30px;
    }
  }
}
